{
  "Discord": {
    "TokenDev": "discord dev token",
    "TokenMain": "discord production token",
    "BotIDMain": "0000000000000000",
    "BotIDDev": "0000000000000000",
    "PrefixDev": "xx",
    "PrefixProd": "x",
    "Separator": ",",
    "ServerInvite": "https://discord.gg/asdfgh",
    "OwnerID": "0000000000000000",
    "FeedbackChannelID": "0000000000000000",
    "BotListToken": "0000000000000000"
  },
  "Lavalink": {
    "Host": "google.com",
    "Port": "0000",
    "Password": "coolpassword"
  },
  "Keys": {
    "GoogleAPIKey": "google api token",
    "MashapeKey": "mashape api token",
    "WebSearchToken": "websearch api token",
    "SteamAPIKey": "steam api token"
  },
  "URIs": {
    "MarkovDirectory": "Energize/Data/Markov/",
    "LuaDirectory": "Energize/Lua/",
    "TwitchURL": "https://www.twitch.tv/earuio",
    "GitHubURL": "https://github.com/Earu/Energize"
  },
  "DBConnectionString": "Data Source=EnergizeDB.db"
}