---
Discord:
  Token: discord_dev_token
  BotID: '0000000000000000'
  Prefix: x
  Separator: ","
  OwnerID: '0000000000000000'
  FeedbackChannelID: '0000000000000000'
  BugReportChannelID: '0000000000000000'
  UpdateChannelID: '0000000000000000'
  BotListToken: dbl_token
  BotsToken: bots_org_token
Lavalink:
  Host: google.com
  Port: 0000
  Password: cool_password
Octovisor:
  Address: google.com
  Port: 0000
  Token: coolpassword
  ProcessName: Energize
Spotify:
  ClientID: spotify_client_id
  ClientSecret: spotify_client_secret
  LazyLoad: true
  ConcurrentPoolSize: 0
  OperationsPerThread: 2
Mail:
  ServerAddress: smtp.gmail.com
  ServerPort: 587
  MailAddress: your_bot_mail_here
  MailPassword: password_here
  DevMailAddress: your_mail_here
Keys:
  TwitchKey: twitch_api_token
  YoutubeKey: youtube_api_token
URIs:
  TwitchURL: https://www.twitch.tv/earuio
  GitHubURL: https://github.com/Earu/Energize
  InviteURL: https://discordapp.com/oauth2/authorize?client_id=0000000000000000&scope=bot&permissions=8
  WebsiteURL: http://energize.earu.io/docs
  DiscordURL: https://discord.gg/RXZtBr5
DBConnectionString: Data Source=EnergizeDB.db
