---
Discord:
  TokenDev: discord dev token
  TokenMain: discord production token
  BotIDMain: '0000000000000000'
  BotIDDev: '0000000000000000'
  PrefixDev: xx
  PrefixProd: x
  Separator: ","
  OwnerID: '0000000000000000'
  FeedbackChannelID: '0000000000000000'
  BotListToken: '0000000000000000'
Lavalink:
  Host: google.com
  Port: 0000
  Password: coolpassword
Octovisor:
  Address: google.com
  Port: 0000
  Token: coolpassword
  ProcessName: Energize
Keys:
  TwitchKey: twitch api token
  YoutubeKey: youtube api token
URIs:
  TwitchURL: https://www.twitch.tv/earuio
  GitHubURL: https://github.com/Earu/Energize
  InviteURL: https://discordapp.com/oauth2/authorize?client_id=0000000000000000&scope=bot&permissions=8
  WebsiteURL: http://energize.earu.io/docs
DBConnectionString: Data Source=EnergizeDB.db
