@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    background: #333333;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A51C15;
    transition: 0.25s;
}

.active:focus {
    color: white;
    background: #262828;
}

header {
    position: sticky;
    top: 0;
    background: #A51C15;
    color: white;
    box-shadow: 0 2px 5px black;
    padding: 0px;
    width: 100%;
    z-index: 10;
    height: 70px;
}

header > h1 {
    display: inline-block;
}

header > img {
    width: 55px;
    margin: -28px 10px 0px 10px;
}

header > button {
    background: transparent;
    color: white;
    border: 1px solid white;
    outline-width: 0;
    float: right;
    font-size: 40px;
    margin: 6px;
    border-radius: 5px;
    width: 56px;
    height: 56px;
    display: none;
    transition: 0.25s;
}

footer {
    background: #262828;
    padding: 10px;
    color: white;
    box-shadow: 0 -2px 5px #333333;
    width: 100%;
}

hr {
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 45px;
    font-weight: 400;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

#root {
    background: white;
}

.menu {
    background-color: #2c2f34;
    padding-top: 1%;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px #333333;
}

.active {
    border-left: 5px solid #A51C15 !important;
    color: white;
    background: #262828;
}

.links {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.links > hr {
    margin: 10px;
}

.links > div > a {
    padding: 5%;
    padding-left: 15%;
    text-align: left;
    transition: 0s;
    display: block;
    width: 100%;
    text-decoration: none;
    border-left: 5px solid #2c2f34;
}

.links > div:hover {
    background: #262828;
}

.links > div > a:hover {
    color: white;
    border-left: 5px solid #262828;
}

.command {
    background-color: #EDEDED;
    border-left: 2px solid #A51C15;
    padding: 1%;
    margin-bottom: 1%;
}

.command > u {
    font-size: large;
}

.content {
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
    color: #333333;
    overflow-y: scroll;
    height: 93vh;
}

.content-container {
    padding-right: 20%;
    padding-left: 10%;
}

.summary {
    position: fixed;
    top: 2;
    right: 35px;
    font-size: 14px;
    background-color: #EDEDED;
    padding: 1%;
    box-shadow: 0 0 5px #333333;
    border-radius: 2px;
    display: block;
}

@media only screen and (max-width: 767px) {
    header > button {
        display: block;
    }

    .menu {
        display: none;
    }

    .content-container {
        padding-right: 5%;
        padding-left: 5%;
    }

    .summary {
        display: none;
    }
}

.summary > div {
    border-bottom: 1px solid #A51C15;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.summary > span, .summary > span > span {
    display: block;
}

.summary > span {
    margin-left: 15px;
}

.summary > span > span {
    margin-left: 30px;
    font-size: 12px;
}

.summary > button {
    width: 56px;
    height: 56px;
    color: white;
    font-size: 30px;
    background-color: #A51C15;
    border-radius: 9999px;
    box-shadow: 0 0 5px #333333;
    border: 2px solid #A51C15;
    outline-width: 0;
}

.summary > span:before, .summary > span > span:before {
    content: '/ ';
}

.fabTop {
    bottom: 0;
    right: 0;
    position: fixed;
    width: 56px;
    height: 56px;
    color: white;
    font-size: 30px;
    background-color: #A51C15;
    border-radius: 9999px;
    box-shadow: 0 0 5px #333333;
    margin: 10px;
    border: 2px solid #A51C15;;
    z-index: 999;
    outline-width: 0;
}

.content-img {
    width: 100%;
    max-width: 500px;
    display: block;
    box-shadow: 0 0 5px #333333;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #333333;
    border-left: 3px solid #A51C15;
    border-radius: 3px;
}

.twemoji {
    height: 1.2em;
    width: 1.2em;
}