@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #A51C15;
    transition: 0.25s;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ededed;
    border-bottom: 2px solid #A51C15;
    box-shadow: 0px 2px 10px #333333;
    padding: 5px;
    width: 100%;
    z-index: 10;
}

header > h1 {
    display: inline-block;
}

header > img {
    width: 100px;
    margin-top: -20px;
    margin-bottom: 5px;
}

.menu {
    background-color: #EDEDED;
    padding-top: 1%;
    margin: 0;
    color: #5C5C5C;
    display: flex;
    flex-direction: column; 
}

.links {
    padding: 0 20px;
}

.links > li {
    margin: 0 auto;
    margin-bottom: 10px;
}

.links > li:hover {
    color: #A51C15;
}

.command {
    background-color: #EDEDED;
    border-left: 2px solid #A51C15;
    padding: 1%;
    margin-bottom: 1%;
}

.command > u {
    font-size: large;
}

.content {
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
}

.summary {
    position: fixed;
    top: 2;
    right: 0;
    font-size: 14px;
    background-color: #EDEDED;
    padding: 1%;
    box-shadow: 0 0 5px #333333;
    border-radius: 3px;
}

.summary > div {
    border-bottom: 1px solid #A51C15;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.summary > span, .summary > span > span {
    display: block;
}

.summary > span {
    margin-left: 15px;
}

.summary > span > span {
    margin-left: 30px;
    font-size: 12px;
}

.summary > span:before, .summary > span > span:before {
    content: '/ ';
}

.fabTop {
    bottom: 0;  
    right: 0;
    position: fixed;
    width: 56px;
    height: 56px;
    color: white;
    font-size: 25px;
    background-color: #A51C15;
    border-radius: 9999px;
    box-shadow: 0 0 5px #333333;
    margin: 10px;
    border: 2px solid #A51C15;
}

.content-img {
    width: 100%;
    max-width: 500px;
    display: block;
    box-shadow: 0 0 5px #333333;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #333333;
    border-left: 5px solid #A51C15;
    border-radius: 3px;
}

.twemoji {
    height: 1.2em;
    width: 1.2em;
}